
{% extends "base_superadmin.html" %}

{% block title %}Departments{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<table border="1" width="100%" style="border-collapse: collapse;">
    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Action</th>
    </tr>
    {% for emp in employees %}
    <tr>
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.department.name }}</td>
        <td>
            <a href="{% url 'edit_employee' emp.id %}">Edit</a>
            <button onclick="confirmDelete('{{ emp.id }}')">Delete</button>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="4">No employees found.</td></tr>
    {% endfor %}
</table>
<br>
        <a href="{% url 'add_staff' %}">+ Add Users</a>

    <script>
function confirmDelete(id) {
    Swal.fire({
        title: 'Are you sure?',
        text: "This action cannot be undone!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = '/departments/delete/' + id + '/';
        }
    })
}
</script>

</body>
</html>
{% endblock %}